







@media screen and (max-width: 1439px){


    body{
        background-color: grey;
        display: flex;
        justify-content: center;
        color: #223059;
    }

    

    

    

    

    

    

    
}
